* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  
}

html {
  font-family: Verdana, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  flex-direction: column;
  display: flex;
}

.header {
  flex: 0 0 auto;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}

.main {
  flex: 1 0 auto;
  font-size: 1.25em;
  display: flex;
}

.navigation {
  padding: 0.5em;
  width: 20%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  background-color: #808080;
  color: #fff;
}

.nav-list-item {
  margin-bottom: 0.5em;
  height: 2em;
}

.nav-list-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section {
  padding: 0.5em;
  width: 60%;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.news {
  padding: 0.5em;
  width: 20%;
}

.footer {
  flex: 0 0 auto;
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
